[package]
name = "unsafe-io"
version = "0.8.0"
description = "Non-owning unsafe I/O"
authors = ["Dan Gohman <dev@sunfishcode.online>"]
edition = "2018"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["api", "io", "stream"]
categories = ["os", "rust-patterns"]
repository = "https://github.com/sunfishcode/unsafe-io"
exclude = ["/.github"]

[build-dependencies]
rustc_version = "0.4.0"

[dependencies]
io-lifetimes = "0.2.0"
# Optionally depend on async-std to implement traits for its types.
#
# Enable the "unstable" feature so that we can implement `OwnsRaw` for
# `process::ChildStdin` etc.
async-std = { version = "1.9.0", features = ["unstable"], optional = true }
# Optionally depend on tokio to implement traits for its types.
tokio = { version = "1.6.0", features = ["io-std", "fs", "net", "process"], optional = true }
# Optionally depend on os_pipe to implement traits for its types.
os_pipe = { version = "0.9.2", optional = true }
# Optionally depend on socket2 to implement traits for its types.
socket2 = { version = "0.4.0", optional = true }
# Optionally depend on mio to implement traits for its types.
mio = { version = "0.7.11", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = [
    "consoleapi",
    "handleapi",
    "processenv",
    "std",
    "winbase",
    "winerror",
] }

[features]
use_mio_net = ["mio", "mio/net", "io-lifetimes/mio"]
use_mio_os_ext = ["mio", "mio/os-ext", "io-lifetimes/mio"]
use_async_std = ["async-std", "io-lifetimes/async-std"]
use_tokio = ["tokio", "io-lifetimes/tokio"]
use_socket2 = ["socket2", "io-lifetimes/socket2"]
use_os_pipe = ["os_pipe", "io-lifetimes/os_pipe"]

[badges]
maintenance = { status = "actively-developed" }
