[package]
name = "unsafe-io"
version = "0.6.3-alpha.0"
description = "Non-owning unsafe I/O"
authors = ["Dan Gohman <dev@sunfishcode.online>"]
edition = "2018"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["api", "io", "stream"]
categories = ["os", "rust-patterns"]
repository = "https://github.com/sunfishcode/unsafe-io"

[build-dependencies]
rustc_version = "0.3.3"

[dependencies]
# Optionally depend on async-std to implement traits for its types.
#
# Enable the "unstable" feature so that we can implement `OwnsRaw` for
# `process::ChildStdin` etc.
async-std = { version = "1.9.0", features = ["unstable"], optional = true }
# Optionally depend on os_pipe to implement traits for its types.
os_pipe = { version = "0.9.2", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = [
    "consoleapi",
    "handleapi",
    "processenv",
    "std",
    "winbase",
    "winerror",
] }

[badges]
maintenance = { status = "actively-developed" }
