name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: ./.github/actions/install-rust
      with:
        toolchain: stable
    - run: cargo fmt --all -- --check

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [stable, nightly, windows]
        include:
          - build: stable
            os: ubuntu-latest
            rust: stable
          - build: nightly
            os: ubuntu-latest
            rust: nightly
          - build: windows
            os: windows-latest
            rust: stable

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: ./.github/actions/install-rust
      with:
        toolchain: ${{ matrix.rust }}
    # Don't use --all-features because some of the features depend on trait
    # impls that aren't available yet.
    - run: cargo test --workspace  --features=os_pipe
      env:
        RUST_BACKTRACE: 1

  test_msrv:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [msrv]
        include:
          - build: msrv
            os: ubuntu-latest
            rust: 1.70.0

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: ./.github/actions/install-rust
      with:
        toolchain: ${{ matrix.rust }}
    # Don't use --all-features because some of the features have dependencies
    # that don't work on newer Rust versions.
    - run: cargo test --workspace
      env:
        RUST_BACKTRACE: 1
